/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Importing component files */
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

/* General style rules for fonts and colors */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
  background-color: #FFFFFF;
}
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h1 {
  color: white;
  text-shadow: 2px 2px 3px #D9DDE0;
}
a {
  text-decoration: none;
}

